<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title class="blockquote-footer">List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"/>   
</head>
<body>
   <form name="userForm">
            <div class="form-group col-md-1">
                <label for="id">Id:</label>
                <input class="form-control" name="id" />
            </div>
            <div class="form-group col-md-3">
                <label for="title">Title:</label>
                <input class="form-control" name="title" />
            </div>
            <div class="form-group col-md-3">
                <label for="description">Description:</label>
                <input class="form-control" name="description"/>
            </div>
            <div class="panel-body">
                <button type="submit" id="submit" class="btn btn-success btn-lg btn-block" onclick="reloadPage()">Add</button>
            </div>
        </form>
    <table class="table table-condensed table-striped  col-md-6">
    <thead><tr><th>Id</th><th>Title</th><th>Date</th></tr></thead>
    <tbody>
    </tbody>
    </table>

  <script>
       function reloadPage(){
            location.reload(true);
        }
        async function GetList() {
            const response = await fetch("https://localhost:44393/api/Announcement", {
                method: "GET",
                headers: { "Accept": "application/json" },
            });
            if (response.ok === true){ 
                 const anno = await response.json();
                console.log(anno);
                let rows = document.querySelector("tbody"); 
                anno.forEach(car => {
                    rows.append(row(car));
                });
            }
        };

          async function CreateAnn(title, description) {
 
            const response = await fetch("https://localhost:44393/api/Announcement", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Title: title,
                    Description: description
                })
            });
            if (response.ok === true) {
                const car = await response.json();
                document.querySelector("tbody").append(row(car));
            }
        }

        async function Delete(Id) {
            const response = await fetch("https://localhost:44393/api/Announcement/" + Id, {
                method: "DELETE",
                headers: { "Accept": "application/json", "Content-Type": "application/json"  },
                body: JSON.stringify({
                    Id: Id
                })
            });
            if (response.ok === true) {
                const an = await response.json();
                document.querySelector("tr[data-rowid='" + an.Id + "']").remove();         
            }
        }

    function row(car) {
 
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", car.Id);
 
            const idTd = document.createElement("td");
            idTd.append(car.Id);
            tr.append(idTd);
 
            const nameTd = document.createElement("td");
            nameTd.append(car.Title);
            tr.append(nameTd);

             const makeTd = document.createElement("td");
            makeTd.append(car.DateAdded);
            tr.append(makeTd);
             
            const linksTd = document.createElement("td");

            const details = document.createElement("a");
            details.setAttribute("data-id", car.Id);
            details.setAttribute("style", "cursor:pointer;padding:3px;");
            details.setAttribute("class", "btn btn-primary");
            details.append("Description");
            details.addEventListener("click", e => {
 
                e.preventDefault();
                alert(car.Description);
                //GetUser(car.Id);
            });
            linksTd.append(details);
 
            const editLink = document.createElement("a");
            editLink.setAttribute("data-id", car.Id);
            editLink.setAttribute("style", "cursor:pointer;padding:3px;");
            editLink.setAttribute("class", "btn btn-warning");
            editLink.append("Change");
            editLink.addEventListener("click", e => {
 
                e.preventDefault();
                //GetUser(car.Id);
            });
            linksTd.append(editLink);

            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", car.Id);
            removeLink.setAttribute("style", "cursor:pointer;padding:3px;");
            removeLink.setAttribute("onclick", "reloadPage();");
            removeLink.setAttribute("class", "btn btn-danger");
            removeLink.append("Delete");
            removeLink.addEventListener("click", e => {
 
                e.preventDefault();
                Delete(car.Id);
                             
            });
            linksTd.append(removeLink);

            const linksTdTwo = document.createElement("td");
            const viewcust = document.createElement("button");
            viewcust.setAttribute("data-id", car.Id);
            viewcust.setAttribute("style", "cursor:pointer;padding:10px;");
            viewcust.setAttribute("class", "btn btn-primary");    
            viewcust.append("Top 3 similar");
            viewcust.addEventListener("click", e => {
 
                e.preventDefault();
                //GetOrders(car.Id);
                             
            });
            linksTdTwo.append(viewcust);

            tr.appendChild(linksTd);
            tr.appendChild(linksTdTwo);
 
            return tr;
        }

    document.forms["userForm"].addEventListener("submit", e => {
            e.preventDefault();
            const form = document.forms["userForm"];
            const id = form.elements["id"].value;
            const title = form.elements["title"].value;
            const description = form.elements["description"].value;
                CreateAnn(title, description);
        });

    GetList();
    </script>

</body>
</html>